/** { border: 1px dashed red; }*/
  #wrapper{
    margin: 2%;
    width: 95%;
    text-align: center;
  }
  form{
    margin-bottom: 0;
  }
  .error{
    color: red;
    font-size: 10pt;
    font-weight: bold;
    /*display: inline-block;
    position: relative;
    left: 5%;*/
    margin: 0;
  }
  .errdiv{
    position: relative;
    left: 35%;
    text-align: left;
    width: 60%;
  }
  fieldset{
    display: inline-block;
    margin:1%;
    padding: 1%;
    width: 45%;
    border-radius: 5px;
    border: 1px dashed silver;
    position: relative;
    vertical-align: top;
  }
  .confieldset{
    display: inline-block;
    margin:1%;
    padding: 3%;
    width: 50%;
    border-radius: 5px;
    border: 1px dashed silver;
    position: relative;
    vertical-align: top;
  }
  legend{
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
  }
  label{
    position: absolute;
    left: 5%;
    width: 25%;
    margin: 10px 5px 10px 5px;
  }
  input[type='text']{
    width: 60%;
    position: relative;;
    left: 15%;
    margin: 10px;
  }
  #filterbox{
    width: 100px;
    position: relative;
    margin-left: 0;
  }
  input[type='date']{
    width: 40%;
    position: relative;;
    left: 5%;
    margin: 10px;
  }
  input[type='password']{
    width: 60%;
    position: relative;;
    left: 15%;
    margin: 10px;
  }
  input[type='submit']{
    margin-top: 20px;
    position: relative;
    left: 30%;
  }
  /*a{
    position: relative;
    left: 50%;
  }*/
  table{
  border: 1px solid black;
  padding: 0;
  border-collapse: collapse;
  position: relative;
  left: 30px;
  top: 20px;
  margin:0px,0,20px,20px;
  }
  td{
  /*border: 1px solid black;*/
  padding: 5px;
  margin:0;
  border-left: 1px solid black;
  border-rigth: 1px solid black;
  }
  th{
  /*border: 1px solid black;*/
  padding: 5px;
  margin:0;
  border-left: 1px solid black;
  border-rigth: 1px solid black;
  background-color: silver;
  }
  tr:nth-child(even) {background: #EEE}
  tr:nth-child(odd) {background: #FFF}
  .sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
  }
  .sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
  }
  #userpart{
    display: inline-block;
    width:20%;
    border: 1px dotted gray;
    position: relative;
    vertical-align: top;
  }
  #messagepart{
    display: inline-block;
    border: 1px dotted grey;
    width: 40%;
    position: relative;
    /*height: 600px;*/
    vertical-align: top;
    /*overflow-y: auto;*/
  }
  #welcomepart{
    display: inline-block;
    border: 1px dotted grey;
    width: 40%;
    position: relative;
    /*height: 600px;*/
    vertical-align: top;
    /*overflow-y: auto;*/
  }
  .messagelist{
    /*height: 450px;*/
    /*overflow-y: auto;*/
  }
  #imgcontainer{
    display: inline;
    position: absolute;
    vertical-align: bottom;
    left:25%;
    bottom: 0;
    z-index: -1;
  }
  #publicpart{
    display: inline-block;
    border: 1px dotted grey;
    width: 30%;
    position: relative;
    /*height: 600px;*/
    /*overflow-y: auto;*/
  }
  textarea{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .fromname{
    display: inline;
  }
