<div class="" ng-controller="UsersController" >
  <!-- <div class="" style="background-image: url(../images/tree.png); height:500px; width: 500px;"> -->

<p class="error" ng-if='successmessage'>{{successmessage}}</p>
  <h2 class='profiletitle'>Welcome:&nbsp{{user.username}}&nbsp&nbsp&nbsp</h2>
  <a href ng-click=logout(user._id)>Logout</a></br>
  <!-- <h3 for="">Created_at:&nbsp{{user.createdAt | date:'yyyy-MM-dd'}}</h3></br> -->
  <hr>
  <p class="error" ng-if='newmessagenotify'>{{newmessagenotify}}</p>
  <div id="userpart">
    <p class="error" ng-if='iomessage'>{{iomessage}}</p>
    <h3>Online users</h3>
    <p ng-repeat='u in userlist' ng-if='u.userid!=user._id'><a  href ng-click=messagepage(u)>{{u.username}}</a>&nbsp <span class="error">{{u.unreadmessage}}</span></p>
  </div>
  <div id="welcomepart" ng-if='!(showmessagepage)'>
    <h3>Spring is coming, please select another creature( online user) and talk with him/her to plant and grow your tree!</h3>
  </div>
  <div id="messagepart" ng-if='showmessagepage'>
    <h3>From: {{user.username}}   To:  {{to_user.username}}</h3>
    <div class="messagelist">
      <div class="" ng-repeat='message in messages | orderBy:-message.createdAt '>

        <h4 class="fromname">{{message.from_username}}</h4>&nbsp&nbsp&nbsp <span>{{message.createdAt | date:'ss:hh:mm yyyy-MM-dd'}}</span>
        <p ng-bind-html="message.message | emoticons:{linkTarget:'_blank'}"></p>

      </div>
    </div>
    <form class="messageform" ng-submit="message()">
      <!-- <textarea name="name" rows="3"  ng-model='newtext.text'></textarea> -->
      <input type="text" id="textarea2" name="" value="" ng-model='newtext.text'>
      <!-- <button type="button" name="button" ng-click='message()' ng-disabled='!(newtext.text)'>Send</button> -->
      <input type="submit" id='messagebutton2' name="" ng-disabled='!(newtext.text)' value="Send"></br>
      <img ng-click="toggleCustom2()" src="./../assets/images/private.png" style="width:50px;height:50px;">
<h6> "Toggle My Face for Commands" -says the private-like smiley face </h6>
      <div ng-if = "!custom2">
        <table>
          <tr>
            <th> Private Options </th>
          </tr>
          <tr ng-repeat = "option in privateoptions">
          <td> {{option}} </td>
        </tr>
      </table>
      </div>
      <!-- {{newtext}} -->
    </form>
  </div>
  <div id="publicpart">
    <h3>Public classroom</h3>
    <div class="messagelist">
    <div class="" ng-repeat='message in publicmessages | orderBy:-message.createdAt '>
      <h4 class="fromname">{{message.from_username}}</h4>&nbsp&nbsp&nbsp <span>{{message.createdAt | date:'mediumTime'}}</span>
    <p ng-bind-html="message.message | emoticons:{linkTarget:'_blank'}"></p>
    </div>
  </div>
    <form class="messageform" ng-submit="publicmessage()">
      <!-- <textarea name="name" rows="3"  ng-model='publictext.text'></textarea> -->
      <input type="text" id="textarea1" name="" value="" ng-model='publictext.text'>
      <!-- <button type="button" name="button"  ng-disabled='!(publictext.text)'>Send</button> -->
      <input type="submit" id='messagebutton1' name=""ng-disabled='!(publictext.text)' value="Send"></br>
      <!-- {{newtext}} -->
      <img ng-click="toggleCustom()" src="./../assets/images/winkyface.jpg" style="width:50px;height:50px;">
<h6> "Toggle My Face for Commands" -says the spring-like smiley face </h6>
      <div ng-if = "!custom">
        <table>
          <tr>
            <th> Spring Options </th>
            <th> Fun Options </th>
          </tr>
          <tr ng-repeat = "option in options">
          <td> {{option}} </td>
          <td> {{funoptions[$index]}} </td>
        </tr>
      </table>
      </div>
    </form>
  </div>
  <div id="imgcontainer" ng-style="myStyle" ng-show='treeage'>
       <img src="../images/tree.png" height="{{ treeage }}" width="{{ treeage }}" />
       <!-- <img src="" alt=""> -->
  </div>
 <!-- </div> -->
 <!-- <img src="../images/tree.png" height="30" width="30" /> -->
</div>
